body{
    background-image: url("C:/VSCode/test/7.png")
}
h1{
    text-align: center;
    color : white;
}
p
{
    text-align: center;
    color :palevioletred
}
img
{
    text-align: center;
}
video
{
    text-align: center;
}
